.sign_head {
	padding: 18px 0px;
	border-bottom: solid 1px var(--bg-color);
}

.sign_head img {
	cursor: pointer;
}

.sign_head_wrapper {
	display: flex;
	align-items: center;
}

.sign_head_title {
	margin-left: 12px;
	color: var(--text-black);
	font-weight: 500;
	margin-top: 8px;
}
.form_sign_wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}
.form_sign_cnt {
	padding: 36px 0 0 0;
	display: flex;
	justify-content: center;
	grid-gap: 24px;
	width: 80%;
	align-items: center;
}

.form_sign_left {
	width: 50%;
}
.form_left_img {
	width: 500px;
}
.form_sign_right {
	width: 50%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 36px;
}
.sign_form_row {
	margin-bottom: 16px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.form_btn_submit {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.sign_body_right_bot {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 24px;
}
.sign_body_right_bot span {
	font-weight: 500;
}

.sign_body_right_bot h4 {
	margin-left: 4px;
	color: var(--purple);
	cursor: pointer;
}
.sign_form_row_err {
	color: var(--red-cl);
	font-size: 12px;
	margin: 8px 0 0 0;
	font-weight: 500;
}
.sign_form_err_phone {
	color: var(--red-cl);
	font-size: 12px;
	margin: 8px 0 0 0;
	font-weight: 500;
	text-align: center;
	width: 100%;
	margin-top: 16px;
	display: inline-block;
}
.sign_right_img {
	display: none;
}
.sign_right_title {
	display: none;
}
.popup_noti_btn {
	padding: 8px 16px;
	border: 0;
	outline: none;
	background-color: var(--purple);
	color: #fff;
	border-radius: 8px;
	font-weight: bold;
	font-size: 14px;
}
@media screen and (max-width: 1023.98px) {
	.sign_head {
		display: none;
	}
	.form_sign_left {
		display: none;
	}
	.form_sign_right {
		width: 100%;
		padding: 0 20px;
	}
	.sign_right_img {
		width: 100%;
		text-align: center;
		display: block;
	}
	.sign_right_title {
		display: inline-block;
		font-size: 20px;
		color: var(--purple);
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-weight: bold;
		margin-bottom: 24px;
	}
	.form_sign_cnt {
		width: 100%;
		box-shadow: unset;
	}
	.form_sign_right {
		box-shadow: unset;
	}
	.form_btn_submit button {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.form_btn_submit {
		padding-top: 8px;
	}
	.sign_body_right_bot {
		margin-top: 16px;
		font-size: 14px;
	}
}
