.button_buy_now {
	grid-gap: 0 8px;
	background-color: var(--red-cl);
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	padding: 8px 16px;
	height: 40px;
	border: 0;
	outline: 0;
}
.detail_right__warn {
	color: var(--red-cl);
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	margin-top: 12px;
}
.button_add_cart {
	grid-gap: 0 8px;
	background-color: var(--purple);
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	padding: 8px 16px;
	align-items: center;
	border: 0;
	outline: 0;
}

/* button favorite */
.btn_favorite {
	width: 100%;
	align-items: center;
	background-color: #fadfdf;
	border: 1px solid var(--red-cl);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	padding: 4px 8px;
	width: 100%;
	color: var(--red-cl);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	transition: var(--trans);
}
.btn_favorite_icon {
	width: 32px;
	height: 32px;
	border: none;
	outline: none;
	background-color: #dcdbdb8c;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* --------------- */
.button_add_cart span,
.button_buy_now span {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
}

.combo_description {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.combo_desc_wrap:nth-child(2) {
	margin: 24px 0;
}

.combo_desc_title {
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	margin-bottom: 24px;
}

.combo_desc_list {
	grid-gap: 16px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.combo_desc_list li {
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 8px;
	transition: all 0.3s;
}

.combo_desc_list li:hover {
	transform: translateY(-5px);
	transition: all 0.3s;
	border: 1px solid var(--red-cl);
}

.detail_Policy {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.detailPolicy_useguild_top {
	margin-bottom: 12px;
}

.detailPolicy_useguild_title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.detailPolicy_useguild_list {
	margin-top: 8px;
}

.detailPolicy_useguild_item {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	list-style-position: inside;
	list-style-type: disc;
	padding: 0 8px;
}

.detailPolicy_useGuild_bot {
	background-color: #e64d4a;
	padding: 16px;
}

.detailPolicy_useGuild_bot p {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
}

.detailPolicy_rules {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.detailPolicy_rules span:nth-child(1) {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.detailPolicy_rules span {
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	margin: 8px 0;
}

.detailPolicy_rules span:nth-child(3),
.detailPolicy_rules span:nth-child(5) {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 8px 0;
}

.recoment {
	background-color: #fff;
	padding: 24px;
}

.recoment_list {
	grid-gap: 16px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin-top: 24px;
}

.recoment_list li {
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 8px;
	transition: all 0.3s;
}

.recoment_list li:hover {
	transform: translateY(-5px);
	transition: all 0.3s;
	border: 1px solid var(--red-cl);
}

.service_detail_bottom {
	display: none;
}

/* detail right */
.item_detail__right {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-right: 24px;
	width: 58%;
}

.detail_right_duration {
	align-items: center;
	display: flex;
	gap: 0 8px;
	padding: 8px 0;
	font-weight: bold;
}

.detail_duration_wrap {
	background-color: var(--bgWhite);
	border-radius: 8px;
	margin: 8px 0;
	padding: 4px 8px;
	width: max-content;
	display: flex;
	align-items: center;
	grid-gap: 0 4px;
}

.detail_right__org {
	display: flex;
	margin-bottom: 8px;
	margin-left: -10px;
}

.detail_right__org span:first-child {
	color: var(--purple);
	font-size: 16px;
	font-weight: 700;
	padding: 0 10px;
	border-right: 1px solid var(--purple);
}

.detail_right__org span:nth-child(2) {
	font-size: 16px;
	font-weight: 700;
	padding: 0 10px;
	color: var(--green);
}

.detail_right__name {
	position: relative;
}

.detail_right__name p {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	width: 90%;
}

.detail_right__name button {
	background-color: #eeedf2;
	border-radius: 100px;
	cursor: pointer;
	height: 36px;
	overflow: hidden;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	border: none;
}

.detail_right__evaluate,
.evaluate_item__wrap,
.evaluate_item {
	display: flex;
	align-items: center;
}

.detail_right__evaluate {
	margin: 8px 0 8px -10px;
	width: 100%;
}

.evaluate_item {
	grid-gap: 0 4px;
	align-items: center;
	display: flex;
	padding: 0 10px;
}

.evaluate_item p {
	color: gray;
	font-size: 14px;
	font-weight: 400;
	font-weight: 700;
}

.detail_right__body {
	grid-gap: 0 24px;
	display: flex;
	margin: 24px 0;
	width: 100%;
}

.detail_right__info {
	width: 55%;
}

.detail_price {
	display: flex;
	align-items: center;
	grid-gap: 0 8px;
	gap: 0 8px;
}

.detail_price_percent {
	clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 7% 50%);
	background-color: var(--red-cl);
	padding: 2px 10px;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.detail_price_p span:first-child {
	color: var(--red-cl);
	font-size: 32px;
	font-weight: 700;
}

.detail_price_p span:nth-child(2) {
	color: #808089;
	font-size: 14px;
	line-height: 20px;
	margin-left: 8px;
	font-weight: 700;
	text-decoration: line-through;
}

.detail_right__org_card {
	width: 45%;
}

.detail_right__bottom {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.bottom_quantity_text {
	font-weight: 700;
	margin-bottom: 14px;
}

.bottom_quantity_wrap {
	display: flex;
	align-items: center;
}

.quantity_btn {
	background-color: var(--purple);
	border: none;
	border-radius: 8px;
	height: 35px;
	outline: none;
	width: 35px;
}

.quantity_btn:first-child {
	background-color: #fff;
	border: 1px solid var(--purple);
	font-size: 20px;
	font-weight: 700;
	color: var(--purple);
}

.quantity_btn:last-child {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.quantity_input {
	background-color: #fff;
	border: none;
	font-size: 16px;
	font-weight: 700;
	height: 35px;
	outline: none;
	text-align: center;
	width: 40px;
}

.detail_right__button_group {
	display: flex;
	align-items: flex-end;
	grid-gap: 0 16px;
}

.item_detail__left {
	background-color: #fff;
	flex-shrink: 0;
	height: 100%;
	padding: 24px;
	width: 42%;
}

.detail_left__img {
	height: 450px;
	width: 450px;
	box-shadow: inset 1px 1px 0 0 #f2f2f2, inset -1px -1px 0 0 #f2f2f2;
}

.detail_mb,
.detail_right__head_img {
	display: none;
}

.evaluate_item:nth-child(1) {
	border-right: 1px solid #ccc;
}

.head_detail_mb {
	display: none;
}

.detail_title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 12px;
}

.detail_org {
	width: 50%;
}

.detail_org_time {
	margin-bottom: 24px;
}

.detail_org_item {
	display: flex;
	grid-gap: 0 36px;
}

.detai_org_time_left {
	width: 100px;
	border-right: 1px solid #ccc;
}

.detai_org_time_left span,
.detail_org_time_right span {
	font-size: 16px;
	color: var(--text-hover);
	font-weight: 700;
	line-height: 18px;
}

.detail_about_me {
	margin-bottom: 24px;
}

.detail_information {
	color: var(--text-black);
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}

.detail_org_wrap {
	width: 50%;
}

.detail_map {
	height: 348px;
	position: relative;
	width: 100%;
	background-color: #ccc;
	margin-bottom: 24px;
}

.detail_map_cnt {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.detail_map_seemore {
	background-color: var(--purple);
	border-radius: 4px;
	box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
	cursor: pointer;
	padding: 4px 8px;
	position: absolute;
	right: 16px;
	top: 16px;
}

.detail_map_seemore span {
	color: var(--bg-white);
	font-size: 14px;
	font-weight: bold;
}

.map_org_detail_slide {
	height: 100%;
	width: 66.66%;
}

.detail_map_org {
	bottom: 0;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	position: absolute;
	right: 0;
	display: flex;
	justify-content: center;
}

.map_org_detail_item {
	background-color: var(--bg-white);
	border-radius: 8px;
	display: flex !important;
	height: 96px;
	padding: 8px 12px;
	width: 100%;
}

.map_org_item {
	border-radius: 8px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
	flex-shrink: 0;
	height: 80px;
	overflow: hidden;
	width: 80px;
}

.map_org_detail_item {
	display: flex;
	grid-gap: 0 8px;
}

.branch_detail_name {
	color: var(--purple);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

.branch_detail_address {
	display: flex;
	align-items: center;
	grid-gap: 0 4px;
}

.branch_detail_address span,
.rate_item_text {
	font-size: 12px;
	font-weight: bold;
	color: var(--text-black);
}

.branch_detail_rate {
	display: flex;
	grid-gap: 0 8px;
}

.branch_detail_rate_item {
	display: flex;
	grid-gap: 0 4px;
	align-items: center;
}

.branch_detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-gap: 2px;
}

.branches_list_cnt__drop {
	height: max-content !important;
	transition: all 0.4s !important;
}

.branches_list_cnt {
	background-color: #eeedf2;
	border-radius: 8px;
	cursor: pointer;
	height: 42px;
	margin: 16px 0 24px 0;
	overflow: hidden;
	padding: 0px 12px;
	transition: all 0.4s;
	position: relative;
}

.branches_list_cnt ul {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	grid-gap: 8px 0;
}

.icon_drop {
	position: absolute;
	right: 16px;
	top: 12px;
	pointer-events: none;
}

.branches_list_cnt ul li span {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	cursor: pointer;
	transition: all 0.3s;
	user-select: none;
}

.branches_list_cnt ul li:nth-child(1) > span {
	color: var(--purple);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	padding-right: 32px;
}

.branches_list_cnt ul li span:hover {
	color: var(--purple);
	transition: all 0.3s;
}

.detail_org_time {
	margin-bottom: 24px;
}

.detail_org_item {
	display: flex;
	grid-gap: 0 36px;
}

.detai_org_time_left {
	width: 100px;
	border-right: 1px solid #ccc;
}

.detai_org_time_left span,
.detail_org_time_right span {
	font-size: 16px;
	color: var(--text-hover);
	font-weight: 700;
	line-height: 18px;
}

.detail_about_me {
	margin-bottom: 24px;
}

.detail_information {
	color: var(--text-black);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.detail_title {
	color: var(--purple);
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 8px;
}

/* close detail right */
@media screen and (max-width: 1023.98px) {
	.detail_right__warn {
		font-size: 12px;
		margin: 8px 0;
		line-height: normal;
	}
	.branches_list_cnt {
		margin: 8px 0 16px 0;
		height: 44px;
		padding: 8px 12px 12px 12px;
	}

	.icon_drop {
		top: 13px;
		right: 12px;
	}

	.evaluate_item:nth-child(2) {
		border-left: 1px solid #ccc;
	}

	.map_org_detail_slide {
		height: 100%;
		width: 80%;
	}

	.detailPolicy_rules span {
		font-size: 14px;
		margin: 4px 0;
	}

	.detail_title {
		font-size: 16px;
	}

	.branches_list_cnt ul li span {
		font-size: 12px;
		line-height: unset;
	}

	.branches_list_cnt ul li span:hover {
		color: var(--purple);
	}

	.detail_org_wrap {
		width: 100%;
		margin-bottom: 16px;
	}

	.detai_org_time_left span,
	.detail_org_time_right span {
		font-size: 14px;
	}

	.detail_information {
		font-size: 12px;
	}

	.detail_org_item {
		display: flex;
		grid-gap: 0 24px;
	}

	.detai_org_time_left {
		width: 86px;
		border-right: 1px solid #ccc;
	}

	.detail_map {
		margin-top: 16px;
	}

	.button_buy_now,
	.button_add_cart {
		width: 100%;
	}

	.button_buy_now span,
	.button_add_cart span {
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		line-height: 16px;
	}

	.detailPolicy_useguild_item,
	.detailPolicy_useGuild_bot p,
	.detailPolicy_rules span:nth-child(3),
	.detailPolicy_rules span:nth-child(5) {
		font-size: 12px;
	}

	.detailPolicy_useGuild_bot {
		padding: 12px;
	}

	.recoment {
		padding: 0 12px 64px 12px;
	}

	.recoment_list {
		margin: 16px 0 24px 0;
		display: flex;
		flex-direction: column;
		grid-gap: 16px 0;
	}

	.recoment_list li {
		border: 0;
	}

	.recoment_list li:hover {
		border: 0;
		box-shadow: unset;
		transform: unset;
	}

	.recoment_list li:not(:last-child) > a {
		border-bottom: 1px solid #ccc;
	}

	.combo_desc_wrap:nth-child(2) {
		margin: 16px 0;
	}

	.combo_description {
		font-size: 12px;
	}

	.combo_desc_title {
		margin-bottom: 16px;
	}

	.combo_desc_list {
		display: flex;
		flex-direction: column;
		grid-gap: 16px 0;
	}

	.combo_desc_list li {
		border: 0;
	}

	.combo_desc_list li:hover {
		border: 0;
		box-shadow: unset;
		transform: unset;
	}

	.service_detail_bottom {
		grid-gap: 0 8px;
		background-color: #fff;
		border-radius: 16px 16px 0 0 !important;
		bottom: 0;
		box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
		display: flex;
		left: 0;
		overflow: hidden;
		padding: 12px 12px 24px;
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	.active_mb .service_detail {
		display: block;
	}

	.item_detail__left {
		width: 100%;
		padding: 0;
	}

	.detail_left__img {
		width: 100%;
		height: 345px;
	}

	.item_detail {
		padding: 0;
	}

	/* detail right */
	.detail_mb {
		background-color: #fff;
		box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
		display: block;
		display: flex;
		flex-direction: column;
		gap: 8px 0;
		padding: 12px;
		position: relative;
		width: 100%;
		width: 100%;
	}
	.detail_mb_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.detail_mb_top p {
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		max-width: 86%;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}

	.detail_mb_top_img {
		background-color: #eeedf2;
		border-radius: 100px;
		height: 36px;
		overflow: hidden;
		padding: 8px;
		position: absolute;
		right: 13px;
		top: 12px;
		width: 36px;
	}

	.detail_mb_mid {
		align-items: center;
		display: flex;
		gap: 0 4px;
	}

	.detail_mb_mid span {
		color: #8c8c8c;
		font-size: 12px;
		font-weight: 500;
	}

	.detail_mb_bot {
		align-items: center;
		display: flex;
		gap: 0 8px;
	}

	.detail_mb_bot_percent {
		background-color: var(--red-cl);
		clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 7% 50%);
		padding: 2px 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.detail_mb_bot_percent span {
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
	}

	.detail_mb_bot_price {
		display: flex;
		align-items: flex-end;
		grid-gap: 0 8px;
	}

	.detail_mb_bot_specialPrice {
		color: var(--red-cl);
		font-size: 20px;
		font-weight: 700;
	}

	.detail_mb_bot_oldPrice {
		color: #808089;
		font-size: 12px;
		margin-bottom: 2px;
		text-decoration: line-through;
		font-weight: 500;
	}

	/* close detail right */
	.service_detail_tab {
		box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
		margin: 12px 0 0;
		padding: 0 12px;
	}

	.service_description {
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.seemore_btn p {
		font-size: 12px;
	}

	.service_detail_tabitem {
		padding: 16px 0 16px 0;
	}

	.item_detail__right {
		width: 100%;
	}

	.detail_right__head_img {
		width: 112px;
		height: 112px;
		flex-shrink: 0;
		border-radius: 8px;
		overflow: hidden;
	}

	.detail_right__head {
		display: flex;
		grid-gap: 0 12px;
	}

	.item_detail__right {
		padding: 24px 12px;
	}

	.detail_right__org {
		display: none;
	}

	.detail_right__head_img {
		display: block;
	}

	.detail_right__name p {
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		width: 100%;
	}

	.detail_right__name button {
		display: none;
	}

	.detail_right__evaluate {
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 8px 0;
	}

	.evaluate_item:nth-child(1) {
		border-right: unset;
	}

	.evaluate_item:nth-child(2) {
		border-right: unset;
	}

	.detail_right__head_info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.detail_right__info {
		width: 100%;
		font-size: 14px;
	}

	.detail_price_percent {
		font-size: 14px;
	}

	.detail_price_p span:first-child {
		font-size: 20px;
		font-weight: 700;
	}

	.detail_duration_wrap {
		margin: 0;
	}

	.detail_right__bottom {
		flex-direction: column;
		grid-gap: 14px 0;
		align-items: flex-start;
		margin-top: 8px;
	}

	.detail_right__quantity {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
	}

	.quantity_btn {
		width: 30px;
		height: 30px;
	}

	.detail_right__button_group {
		width: 100%;
	}

	.detail_right__body {
		margin: 16px 0 0 0;
	}

	.detail_right__button_group button:nth-child(1) {
		display: none;
	}

	.detail_right__button_group button:nth-child(2) {
		justify-content: center;
	}

	.head_detail_mb {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		left: 0;
		padding: 8px 12px;
		position: fixed;
		right: 0;
		top: 0;
		transition: all 0.5s;
		z-index: 1000;
	}

	.mb_head_act {
		background-color: var(--bg-white);
		border-bottom: 1px solid var(--bgGray);
		transition: all 0.5s;
	}

	.header_detail_left,
	.header_detail_right {
		background-color: #dcdbdb8c;
		border: none;
		border-radius: 100%;
		outline: none;
		padding: 8px;
		transition: all 0.3s;
		position: relative;
	}

	.header_detail_badge {
		background-color: var(--red-cl);
		border-radius: 100%;
		color: var(--bg-white);
		font-size: 12px;
		font-weight: 700;
		line-height: 18px;
		margin: -14px 0 0 8px;
		min-width: 24px;
		padding: 2px;
		position: absolute;
		text-align: center;
	}

	.icon_btn {
		width: 16px;
		height: 16px;
	}
}
