.section_title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.tag_item_cnt {
    margin: 2px 0px;
    padding: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 4px;
    cursor: pointer;
}

.tag_item_cnt:hover {
    background-color: var(--bg-color);
}
@media screen and (max-width: 1023.98px) {
    .tag_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tag_item_cnt{
        width: 49%;
        background-color: var(--bg-color);
        text-align: center;
        padding: 8px 0px;
        margin: 4px 0px;
    }
}